<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<html layout:decorate="~{task/layout}" lang="en">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">-->
<!--<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">-->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

<link href="css/style.css" rel="stylesheet">
<link href="css/allEpacks.css" rel="stylesheet">

<head>

        <title>Courses Available</title>

        <style>

    body {
        height: 100%;
    }

    body {
        background-color: #a2d2d6;
    }

      table, th, td {
          border: 1px solid black;
          padding: 1px;
      }

      a {
          text-decoration: underline;
      }

    .btn {
        background-color: rgba(0, 0, 0, 0.7);
        font-weight: bold;
        color: rgba(185, 241, 243, 0.78);
        margin-left: 0;
    }

    .carousel-inner {
       height: 240px; !important
       box-shadow: 0 3px 10px rgba(138, 5, 5, 0.945);
        float: none;
    }

    .carousel-item, carousel-item active {
        float: none;
        margin: auto;
        padding: 0;
        float: none;
    }

    .thumbnail img{
        height: 220px !important;
        width: 100%;
        margin: 0;
    }

    </style>
</head>
<body>
<div class="main-container">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <header id="header" class="d-flex align-items-center">
                <div class="container d-flex">
                    <nav id="navbar" class="navbar">
                        <ul style="float: left;">
                            <li><a class="nav-link scrollto active" style="font-size: 18pt" th:href="@{/}"> <b>Home</b></a></li>
                            <li><a class="nav-link scrollto active" style="font-size: 18pt" th:href="@{/profile1}"> <b>My Profile</b></a></li>
                            <li><a class="nav-link scrollto active" style="font-size: 18pt" th:href="@{/signupForm}"> <b>Sign Up</b></a></li>
                        </ul>
                    </nav>
                    <div class="col-md-3 col-sm-6"></div>
                    <div class="col-md-3 col-sm-6">
                        <div class="card-top">
                            <h2 style="padding: 20px 15px;"><strong>YourEstack.com</strong></h2>
                        </div>
                    </div>
                </div>
            </header>
        </div>
    </div>
<div class="container-fluid">
    <h3 style="margin-left: 520px;"><u><strong>Courses available:</strong></u></h3><br>
    <p>Here you can explore our latest offers.</p>
    <p>Choose your course, get access to video lectures and downloadable materials.</p>
    <p>Learn on your own pace, check your knowledge and get certificate.</p>
    <p>To get the course you have to create an account and log in.</p>
    <br>
    <div class="panels" style="position: relative;">
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div id="carouselPanel1" class="carousel slide" data-bs-ride="true">
                    <div class="carousel-inner">
                        <div class="carousel-item active" >
                            <img src="images/java1.jpg" class="d-block w-100" alt="Java course picture">
                        </div>
                        <div class="carousel-item">
                            <img src="images/java2.jpg" class="d-block w-100"  alt="Java course picture">
                        </div>
                        <div class="carousel-item">
                            <img src="images/spring1.jpg" class="d-block w-100" alt="Spring course picture"
                            >
                        </div>
                        <div class="carousel-item">
                            <img src="images/spring2.jpg" class="d-block w-100" alt="Spring course picture"
                            >
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselPanel1" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselPanel1" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
                <br>
                <p><strong> Learn modern Java  on your own pace.</strong></p>
                <p><strong> Get certificate.</strong></p>
                <div class="mx-auto" style="width: 400px;">
                        <div class="mt-2 mb-2 ml-1 mr-2 px-2 pt-2 pb-2 p-3">
                            <form method="POST" th:action="@{/placeOrder}" th:object="${allEpacks}">
                                <div class="form-group row">
                                    <label for="javaId" class="col-form-label col-4">Epack ID: </label>
                                    <div class="col-8">
                                        <input type="text" class="form-control" style="height: 28px"  name="epackId" id="javaId" th:value="${allEpacks[0].getEpackId()}">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="javaName" class="col-form-label col-4">Epack name: </label>
                                    <div class="col-8">
                                        <input type="text" class="form-control" style="height: 28px" name="epackName" id="javaName" th:value="${allEpacks[0].epackName}">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="javaManager" class="col-form-label col-4">Manager: </label>
                                    <div class="col-8">
                                        <input type="text" class="form-control" style="height: 28px" name="manager" id="javaManager" th:value="${allEpacks[0].manager}">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="javaDuration" class="col-form-label col-4">Duration(h): </label>
                                    <div class="col-8">
                                        <input type="text" class="form-control" style="height: 28px" name="duration" id="javaDuration" th:value="${allEpacks[0].duration}">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="javaDateCreated" class="col-form-label col-4">Date created: </label>
                                    <div class="col-8">
                                        <input type="text" class="form-control" style="height: 28px" name="dateCreated" id="javaDateCreated" th:value="${allEpacks[0].getCreatedDate(allEpacks[0].getDateTimeCreated())}">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="javaPrice" class="col-form-label col-4">Price(EUR): </label>
                                    <div class="col-8">
                                        <input type="text" class="form-control" style="height: 28px" name="price" id="javaPrice" th:value="${allEpacks[0].price}">
                                    </div>
                                </div>
                                <br>
                                <div>
                                    <button type="submit" class ="btn"><a href="orderForm.html" th:href="@{/orderForm}"></a>Get Epack</button>
                                </div>
                            </form>

                            <div class="mx-auto" style="width: 400px;">
                                <div class="mt-3 mb-3 ml-1 mr-2 px-0 pt-0 pb-0 p-0">
                                    <form method="POST" th:action="@{/feedbackJava}" th:object="${feedbackJava}">
                                        <h6 style="margin: 0; padding: 0 0 5px;">Leave your comment: </h6>
                                            <label for="feedbackId1" class="col-form-label col-7">
                                                <span sec:authorize="isAuthenticated()">
                                                <span sec:authentication="principal.username"></span>
                                                </span></label>
                                            <textarea type="text" class="form-control" rows="1" cols="18" name="feedbackId1" id="feedbackId1" th:field="*{feedText}"></textarea>
                                            <br>
                                        <div>
                                            <button type="submit" class ="btn java-comments">Save comment</button>
                                        </div>
                                    </form>

                                    <br>
                                    <div class="mx-auto" style="width: 400px;">
                                        <div class="mt-3 mb-3 ml-1 mr-2 px-0 pt-0 pb-0 p-0">
                                    <form method="GET" th:action="@{/allJavaFeedbacks}" th:each="java : ${allJavaFeedbacks}">
                                        <div class="form-group row">
                                            <label for="javaUsername" class="col-form-label col-4 visually-hidden">Username: </label>
                                            <div class="col-8">
                                                <input type="text" class="form-control" style="height: 20px"  name="javaUsername" id="javaUsername" th:value="${java.username}">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="javaDate" class="col-form-label col-4 visually-hidden">Date: </label>
                                            <div class="col-8">
                                                <input type="text" class="form-control" style="height: 20px; font-size: 12px;" name="javaDate" id="javaDate" th:value="${java.getDateCreated(java.getDateCreated())}">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="javaFeedText" class="col-form-label col-4 visually-hidden">Feedback: </label>
                                            <div class="col-8">
                                                <textarea rows="2" cols="18" class="form-control" name="javaFeedText" id="javaFeedText" th:text="${java.getFeedText()}"></textarea>
                                            </div>
                                        </div>
                                        <br>
                                    </form>
                                            </div>
                                        </div>
                                </div>
                            </div>
                        </div>
                </div>
                <br>
            </div>
            <div class="col-md-4 col-sm-6">
                <div id="carouselPanel2" class="carousel slide" data-bs-ride="true">
                    <div class="carousel-inner">
                        <div class="carousel-item active img-thumbnail">
                            <img src="images/spring1.jpg" class="d-block w-100" alt="Spring course picture"
                                 >
                        </div>
                        <div class="carousel-item img-thumbnail">
                            <img src="images/spring2.jpg" class="d-block w-100" alt="Spring course picture"
                                 >
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselPanel2" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselPanel2" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
                <br>
                <p><strong> Learn modern lightweight enterprise-level scalable application framework Spring (Java) on your own pace.</strong></p>
                <p><strong> Get certificate.</strong></p>
                <div class="mx-auto" style="width: 400px;">
                        <div class="mt-2 mb-2 ml-1 mr-2 px-2 pt-2 pb-2 p-3">
                            <form method="POST" th:action="@{/placeOrder}" th:object="${allEpacks}">
                                <div class="form-group row">
                                    <label for="springId" class="col-form-label col-4">Epack ID: </label>
                                    <div class="col-8">
                                        <input type="text" class="form-control" style="height: 28px" name="epackId" id="springId" th:value="${allEpacks[1].getEpackId()}">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="springName" class="col-form-label col-4">Epack name: </label>
                                    <div class="col-8">
                                        <input type="text" class="form-control" style="height: 28px" name="epackName" id="springName" th:value="${allEpacks[1].epackName}">
                                     </div>
                                 </div>
                                <div class="form-group row">
                                    <label for="springManager" class="col-form-label col-4">Manager: </label>
                                    <div class="col-8">
                                        <input type="text" class="form-control" style="height: 28px" name="manager" id="springManager" th:value="${allEpacks[1].manager}">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="springDuration" class="col-form-label col-4">Duration(h): </label>
                                    <div class="col-8">
                                        <input type="text" class="form-control" style="height: 28px" name="duration" id="springDuration" th:value="${allEpacks[1].duration}">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="springDateCreated" class="col-form-label col-4">Date created: </label>
                                    <div class="col-8">
                                        <input type="text" class="form-control" style="height: 28px" name="dateCreated" id="springDateCreated" th:value="${allEpacks[1].getCreatedDate(allEpacks[1].getDateTimeCreated())}">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="springPrice" class="col-form-label col-4">Price(EUR): </label>
                                    <div class="col-8">
                                        <input type="text" class="form-control" style="height: 28px" name="price" id="springPrice" th:value="${allEpacks[1].price}">
                                     </div>
                                </div>
                                <br>
                                <div>
                                    <button type="submit" class ="btn"><a href="orderForm.html" th:href="@{/orderForm}"></a>Get Epack</button>
                                </div>
                            </form>

                            <div class="mx-auto" style="width: 400px;">
                                <div class="mt-3 mb-3 ml-1 mr-2 px-0 pt-0 pb-0 p-0">
                                    <form method="POST" th:action="@{/feedbackSpring}" th:object="${feedbackSpring}">
                                        <h6 style="margin: 0; padding: 0 0 5px;">Leave your comment: </h6>
                                        <label for="feedbackId2" class="col-form-label col-7">
                                                <span sec:authorize="isAuthenticated()">
                                                <span sec:authentication="principal.username"></span>
                                                </span></label>

                                        <textarea type="text" class="form-control" rows="1" cols="18" name="feedbackId2" id="feedbackId2" th:field="*{feedText}"></textarea>
                                        <br>
                                        <div>
                                            <button type="submit" class ="btn">Save comment</button>
                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>
                </div>
                <div class="mx-auto" style="width: 400px;">
                    <div class="mt-3 mb-3 ml-1 mr-2 px-0 pt-0 pb-0 p-0">
                        <form method="GET" th:action="@{/allSpringFeedbacks}" th:each="spring : ${allSpringFeedbacks}">
                            <div class="form-group row">
                                <label for="springUsername" class="col-form-label col-4 visually-hidden">Username: </label>
                                <div class="col-8">
                                    <input type="text" class="form-control" style="height: 20px"  name="springUsername" id="springUsername" th:value="${spring.username}">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="springDate" class="col-form-label col-4 visually-hidden">Date: </label>
                                <div class="col-8">
                                    <input type="text" class="form-control" style="height: 20px; font-size: 12px;" name="springDate" id="springDate" th:value="${spring.getDateCreated(spring.getDateCreated())}">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="springFeedText" class="col-form-label col-4 visually-hidden">Feedback: </label>
                                <div class="col-8">
                                    <textarea rows="2" cols="18" class="form-control" name="springFeedText" id="springFeedText" th:text="${spring.getFeedText()}"></textarea>
                                </div>
                            </div>
                            <br>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div id="carouselPanel3" class="carousel slide" data-bs-ride="true">
                    <div class="carousel-inner">
                        <div class="carousel-item active img-thumbnail">
                            <img class="d-block w-100" src="images/micro1.jpg" alt="Microservices picture"
                                 >
                        </div>
                        <div class="carousel-item img-thumbnail">
                            <img class="d-block w-100" src="images/micro2.jpg" alt="Microservices picture"
                                 >
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselPanel3" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselPanel3" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
                <br>
                <p><strong> Learn modern microservices architecture on your own pace.</strong></p>
                <p><strong> Get certificate.</strong></p>
                <div class="mx-auto" style="width: 400px;">
                        <div class="mt-2 mb-2 ml-1 mr-2 px-2 pt-2 pb-2 p-3">
                            <form method="POST" th:action="@{/placeOrder}" th:object="${allEpacks}">
                                <div class="form-group row">
                                    <label for="microId" class="col-form-label col-4">Epack ID: </label>
                                    <div class="col-8">
                                        <input type="text" class="form-control" style="height: 28px" name="epackId" id="microId" th:value="${allEpacks[2].getEpackId()}">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="microName" class="col-form-label col-4">Epack name: </label>
                                    <div class="col-8">
                                        <input type="text" class="form-control" style="height: 28px" name="epackName" id="microName" th:value="${allEpacks[2].epackName}">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="microManager" class="col-form-label col-4">Manager: </label>
                                    <div class="col-8">
                                        <input type="text" class="form-control" style="height: 28px" name="manager" id="microManager" th:value="${allEpacks[2].manager}">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="microDuration" class="col-form-label col-4">Duration(h): </label>
                                    <div class="col-8">
                                        <input type="text" class="form-control" style="height: 28px" name="duration" id="microDuration" th:value="${allEpacks[2].duration}">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="microDateCreated" class="col-form-label col-4">Date created: </label>
                                    <div class="col-8">
                                        <input type="text" class="form-control" style="height: 28px" name="dateCreated" id="microDateCreated" th:value="${allEpacks[2].getCreatedDate(allEpacks[2].getDateTimeCreated())}">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="microPrice" class="col-form-label col-4">Price(EUR): </label>
                                    <div class="col-8">
                                        <input type="text" class="form-control" style="height: 28px" name="price" id="microPrice" th:value="${allEpacks[2].Price}">
                                    </div>
                                </div>
                                <br>
                                <div>
                                    <button type="submit" class ="btn"><a href="orderForm.html" th:href="@{/orderForm}"></a>Get Epack</button>
                                </div>
                            </form>

                            <div class="mx-auto" style="width: 400px;">
                                <div class="mt-3 mb-3 ml-1 mr-2 px-0 pt-0 pb-0 p-0">
                                    <form method="POST" th:action="@{/feedbackMicro}" th:object="${feedbackMicro}">
                                        <h6 style="margin: 0; padding: 0 0 5px;">Leave your comment: </h6>
                                        <label for="feedbackId3" class="col-form-label col-7">
                                                <span sec:authorize="isAuthenticated()">
                                                <span sec:authentication="principal.username"></span>
                                                </span></label>
                                        <textarea type="text" class="form-control" rows="1" cols="18" name="feedbackId3" id="feedbackId3" th:field="*{feedText}"></textarea>
                                            <br>
                                        <div>
                                            <button type="submit" class ="btn">Save comment</button>
                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>
                </div>
                <div class="mx-auto" style="width: 400px;">
                    <div class="mt-3 mb-3 ml-1 mr-2 px-0 pt-0 pb-0 p-0">
                        <form method="GET" th:action="@{/allMicroFeedbacks}" th:each="micro : ${allMicroFeedbacks}">
                            <div class="form-group row">
                                <label for="microUsername" class="col-form-label col-4 visually-hidden">Username: </label>
                                <div class="col-8">
                                    <input type="text" class="form-control" style="height: 20px"  name="microUsername" id="microUsername" th:value="${micro.username}">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="microDate" class="col-form-label col-4 visually-hidden">Date: </label>
                                <div class="col-8">
                                    <input type="text" class="form-control" style="height: 20px; font-size: 12px;" name="microDate" id="microDate" th:value="${micro.getDateCreated(micro.getDateCreated())}">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="microFeedText" class="col-form-label col-4 visually-hidden">Feedback: </label>
                                <div class="col-8">
                                    <textarea rows="2" cols="18" class="form-control" name="microFeedText" id="microFeedText" th:text="${micro.getFeedText()}"></textarea>
                                </div>
                            </div>
                            <br>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <button type="button" class ="btn" style="margin-left: 22px;"><a href="index.html" th:href="@{/}" style="color: #b9f1f3c6;">Return to home</a></button>
        </div>
    </div>
    <p style="float: right;">
        <a href="#">More courses</a>
    </p>

</div>
</div>
<br>
<div class="footer-logo"><strong>&copy; IT 2021 - 2023</strong></div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
<!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>-->
</body>
</html>